@model CalculatorViewModel

@{
    ViewBag.Title = "Calculator History";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h2>Tax Calculator</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <select asp-for="PostalCode" asp-items="@Model.PostalCodes" class="form-select">
                    <option value="" selected disabled>--- Select postal code ---</option>
                </select>

                <label asp-for="PostalCode">PostalCode</label>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Income" class="form-control" type="text" />
                <label asp-for="Income">Income</label>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Calculate</button>
        </form>
    </div>
</div>



